{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <!-- Content section for registration form -->
    <div class="content-section">
        <!-- Registration form -->
        <form method="POST">
            {% csrf_token %} <!-- CSRF token for security -->
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Log In</legend>
                {{ form|crispy }} <!-- Displaying form fields  -->
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Login</button> <!-- Submit button for form -->
            </div>
        </form>
        <!-- Link for users who do not have an account -->
        <div class="border-top pt-3">
            <small class="text-muted">
                Need An Account? <a class="ml-2" href="{% url 'register' %}">Sign Up Now</a>
            </small>
        </div>
    </div>
{% endblock content %}
